DataRetrievalPassword.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DataRetrievalPasswords.xsd"
    targetNamespace="DataRetrievalPassword"
    elementFormDefault="qualified"
    xmlns="DataRetrievalPasswords"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="password">
    <xs:restriction base="xs:string">
      <xs:minLength value="6" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="PasswordEntry">
    <xs:sequence>
      <xs:element name="IATName" type="xs:string" />
      <xs:element name="Password" type="password" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
